/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

label { margin-bottom: 0 !important; }

.alert.alert-danger { background-color: #f44336 !important; }

.cdk-table 
{    
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    overflow: hidden !important;
}

.main-panel .content 
{
    min-height: auto !important;
    margin-top: 0 !important;
    padding-top: 30px !important;
}

/*
.main-panel .content
{
    min-height: 100vh !important;
    margin-top: 30px !important;
}

.main-panel .content-np
{
    padding: 0 !important;
    min-height: calc(100vh - 123px) !important;
    margin-top: 30px !important;
}
*/
