sidebar-cmp
{

    .profile-header
    {
        .profile-img
        {
            height: 100px;
            overflow: hidden;

            img
            {
                border-radius: 0;
            }
        }

        a.profile-user
        {
            text-align: center;
            display: block;
            margin-top: -60px;

            .avatar
            {
                width: 124px;
                height: 124px;
                border: 1px solid #FFF;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                margin-bottom: 15px;
                display: inline-block;
            }
        }
    }

}