/* You can add global styles to this file, and also import other style files */

html, body {
    min-height: 100vh;
    background: #f4f3ef;
}

app-root
{
    display: block;
    min-height: 100vh;
}

