
<div class="form-signin m-auto">
    <div class="card p-4">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex flex-column" >

            <h3>Please sign in</h3>

            <div class="alert alert-danger" role="alert" *ngIf="error!=''" >
              {{error}}
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" required >
                <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
                    Email required
                </mat-error>
                <mat-error
                    *ngIf="!loginForm.get('email')?.errors?.['required'] &&
                            loginForm.get('email')?.errors?.['email']">
                    Invalid Email
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="Password" formControlName="password" maxlength="18" minlength="6" required >
                <mat-error *ngIf="loginForm.get('password')?.errors?.['required'] "> Password Required </mat-error>
                <mat-error *ngIf="loginForm.get('password')?.errors?.['minlength']"> At least 6 characters</mat-error>
            </mat-form-field>

            <button mat-fab extended color="primary" class="submit-button" aria-label="Sign in" [disabled]="loginForm.invalid" *ngIf="!loading" >
                Sign in
            </button>

            <button mat-fab extended color="primary" aria-label="Loading..." disabled *ngIf="loading" >
                Loading...
            </button>

        </form>

    </div>
</div>
