<div class="content">
    <div class="row">


        <div class="col-md-4">

            <div class="card card-user">

                <div class="image">
                    <img src="assets/img/damir-bosnjak.jpg" alt="...">
                </div>

                <div class="card-body">
                    <div class="author">
                        <a href="#">
                            <img class="avatar border-gray" src="/assets/img/{{currentUser.avatar}}" alt="...">
                            <h5 class="title">{{currentUser.name}}</h5>
                        </a>
                        <p class="description">
                            {{currentUser.email}}
                        </p>
                    </div>
                </div>

                <!--
                <div class="card-footer">
                    <hr>
                    <div class="button-container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-6 ml-auto">
                                <h5>12 <br> <small>Files</small> </h5>
                            </div>
                            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
                                <h5>2GB <br> <small>Used</small> </h5>
                            </div>
                            <div class="col-lg-3 mr-auto">
                                <h5>24,6$ <br> <small>Spent</small> </h5>
                            </div>
                        </div>
                    </div>
                </div>
                -->

            </div> <!-- / .card -->

            <!--
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Team Members</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled team-members">
                    <li>
                        <div class="row">
                        <div class="col-md-2 col-2">
                            <div class="avatar">
                            <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                        </div>
                        <div class="col-md-7 col-7">
                            DJ Khaled
                            <br />
                            <span class="text-muted">
                            <small>Offline</small>
                            </span>
                        </div>
                        <div class="col-md-3 col-3 text-right">
                            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                        <div class="col-md-2 col-2">
                            <div class="avatar">
                            <img src="assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                        </div>
                        <div class="col-md-7 col-7">
                            Creative Tim
                            <br />
                            <span class="text-success">
                            <small>Available</small>
                            </span>
                        </div>
                        <div class="col-md-3 col-3 text-right">
                            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                        </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                        <div class="col-md-2 col-2">
                            <div class="avatar">
                            <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                        </div>
                        <div class="col-ms-7 col-7">
                            Flume
                            <br />
                            <span class="text-danger">
                            <small>Busy</small>
                            </span>
                        </div>
                        <div class="col-md-3 col-3 text-right">
                            <button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>
                        </div>
                        </div>
                    </li>
                    </ul>
                </div>
            </div>
            -->

        </div> <!-- / .col-md-4 -->


  
        <div class="col-md-8">


            <div class="card">

                <div class="card-header">
                    <h5 class="card-title">Edit Profile</h5>
                </div>

                <div class="card-body">

                    <form [formGroup]="_form" (ngSubmit)="onSubmit()" class="d-flex flex-column"  >
            
                        <div class="row">

                            <div class="col-12 col-md-6 d-flex flex-column">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Name" formControlName="name" required >
                                    <mat-error *ngIf="_form.get('name')?.errors?.['required']">
                                        Name required
                                    </mat-error>
                                </mat-form-field>
                            </div>
            
                            <div class="col-12 col-md-6 d-flex flex-column">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email" readonly >
                                    <mat-error *ngIf="_form.get('email')?.errors?.['required']">
                                        Email required
                                    </mat-error>
                                    <mat-error
                                        *ngIf="!_form.get('email')?.errors?.['required'] &&
                                                _form.get('email')?.errors?.['email']">
                                        Invalid Email
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div> <!-- / .row -->
                
                        <div><hr></div>
            
                        <div class="d-flex justify-content-between">
                
                            <button mat-raised-button extended color="primary" class="submit-button" aria-label="Sign in" [disabled]="_form.invalid" *ngIf="!loading" >
                                Send
                            </button>
                
                            <button mat-raised-button extended color="primary" aria-label="Loading..." disabled *ngIf="loading" >
                                Loading...
                            </button>
                
                        </div>
            
                    </form>

                </div> <!-- / .card-body -->

            </div> <!-- / .card -->




            <div class="card">

                <div class="card-header">
                    <h5 class="card-title">Change Password</h5>
                </div>

                <div class="card-body">

                    <form [formGroup]="_formPass" (ngSubmit)="onSubmit()" class="d-flex flex-column"  >
        
                        <div class="row">

                            <div class="col-12 col-md-4 d-flex flex-column">
                                <mat-form-field appearance="outline">
                                    <mat-label>Old Password</mat-label>
                                    <input matInput placeholder="Old Password" formControlName="old" type="password" required >
                                    <mat-error *ngIf="_formPass.get('old')?.errors?.['required']">
                                        Old Password required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-4 d-flex flex-column">
                                <mat-form-field appearance="outline">
                                    <mat-label>New Password</mat-label>
                                    <input matInput placeholder="New Password" formControlName="new" type="password" required >
                                    <mat-error *ngIf="_formPass.get('new')?.errors?.['required']">
                                        New Password required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-12 col-md-4 d-flex flex-column">
                                <mat-form-field appearance="outline">
                                    <mat-label>Confirm Password</mat-label>
                                    <input matInput placeholder="Confirm Password" formControlName="newc" type="password" required >
                                    <mat-error *ngIf="_formPass.get('newc')?.errors?.['required']">
                                        Confirm Password required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>


                        <div><hr></div>
                
                        <div class="d-flex justify-content-between">

                            <button mat-raised-button extended color="primary" class="submit-button" aria-label="Sign in" [disabled]="_formPass.invalid" *ngIf="!loadingPass" >
                                Send
                            </button>

                            <button mat-raised-button extended color="primary" aria-label="Loading..." disabled *ngIf="loadingPass" >
                                Loading...
                            </button>

                        </div>

                    </form>

                </div> <!-- / .card-body -->

            </div> <!-- / .card -->

        </div> <!-- / .col-md-8 -->


    </div> <!-- / .row -->
</div> <!-- / .content -->
