<div class="list">

    <h5 class="list-title">{{col.title}}</h5>

    <ul class="list-items">
        <li (click)="set('Complete mock-up for client website            ')" > Complete mock-up for client website             </li>
        <li (click)="set('Email mock-up to client for feedback           ')" > Email mock-up to client for feedback            </li>
        <li (click)="set('Update personal website header background image')" > Update personal website header background image </li>
        <li (click)="set('Update personal website heading fonts          ')" > Update personal website heading fonts           </li>
        <li (click)="set('Add google map to personal website             ')" > Add google map to personal website              </li>
        <li (click)="set('Begin draft of CSS Grid article                ')" > Begin draft of CSS Grid article                 </li>
        <li (click)="set('Read new CSS-Tricks articles                   ')" > Read new CSS-Tricks articles                    </li>
        <li (click)="set('Read new Smashing Magazine articles            ')" > Read new Smashing Magazine articles             </li>
        <li (click)="set('Read other bookmarked articles                 ')" > Read other bookmarked articles                  </li>
    </ul>

</div>